body{
    margin: 0;
    padding: 0;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    font-family: 'Red Hat Display';
}

.wrapper{
    max-width: 450px;
    margin: 5rem auto;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    box-shadow: 5px 5px 10px #c4bfbf;

}
.wrapper img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#container{
    padding: 0 5rem;
    text-align: center;
    
}
#container p{
    color: hsl(224, 23%, 55%)
}
.receival{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  2rem 5rem; 
}
.price{
    display: flex;
    flex-direction: column;
    margin-left: -3rem;
}
.amount{
    color: hsl(224, 23%, 55%)
}
.payment{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.5em;

}
.change{
    color: hsl(225, 100%, 54%)
}
.change:hover{
    color:#8a2be2;
}
#process{
    text-decoration: none;
    background-color: hsl(245, 75%, 52%);
    color:hsl(225, 100%, 98%);
    padding: .5em 8em;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 1.5em;
    box-shadow: 0 15px 15px #cccbcb;
}
#process:hover{
    background-color: #8a2be2;
}
#cancel{
    text-decoration: none;
    color: hsl(223, 47%, 23%);
}
#cancel:hover{
    color: #000;
}

@media screen and (max-width: 425px){
    body{
        background-image: url(images/pattern-background-mobile.svg)
    }
    .wrapper img{
        width: 100%;
    }
    .receival{
        margin-left: -2rem;
    }
    .receival img{
        width: 20%;
    }
    #process{
        padding: .5em 4em;
    }
}